/* Write your CSS code here */
/* Write your CSS code here */
.notfound-container {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notfound-content {
  text-align: center;
}
.notfound-content img {
  width: 130px;
  height: auto;
  margin-bottom: 1rem;
}
