.header-container {
  height: 10vh;
  width: 100%;
}

.nav-container {
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
}
.logo-container img {
  width: 60px;
  height: 60px;
}
.logo-container h1 {
  padding-left: 10px;
}
.nav-items ul {
  display: flex;
  flex-direction: row;
  width: 100%;
  list-style: none;
}

ul li {
  padding: 0px 30px;
  color: #6d396b;
  font-weight: bolder;
}
a {
  text-decoration: none;
}
